@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
  --ff: 'Poppins', sans-serif;
  --cursive: 'Pacifico', cursive;
}

body {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 80%;
  margin: 2em auto;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    margin-bottom: 2em;
    text-align: right;
    align-items: center;

    color: black;
    font-family: var(--ff);
    letter-spacing: 2px;



    a:hover {
      font-weight: 600;
    }

    .logo {
      text-align: center;
      font-family: var(--cursive);
      font-size: 50px;
    }
  }

  .display-text {
    border: 1px solid black;
    padding: 0.5em;
    font-family: var(--ff);
    font-size: x-large;
    margin-bottom: 2em;
    line-height: 30px;
    word-spacing: 5px;

    .correct {
      color: green;
    }

    .incorrect {
      color: red;
      text-decoration: underline red($color: #000000);
    }

  }

  .controls {
    display: flex;
    width: fit-content;
    margin: 1em auto;

    button {
      background: transparent;
      padding: 1em;
      margin: .5em;
      font-size: 1.3rem;
      box-shadow: -4px 5px 0 black;
    }

    button:hover {
      background-color: black;
      color: white;
    }
  }

  .main {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }

  .timer{
    font-family: var(--ff);
    font-size: large;
    padding: 1em;
    border: 1px solid black;
    margin: 0;
  }

  #input {
    padding: 1em;
    font-size: large;
    width: 100%;
  }

}